@{
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

@{
    ViewData["Title"] = "Teacher Dashboard";
    var firstName = Context.Session.GetString("FirstName");
}


<div class="text-center">
    <h3 class="display-4">Welcome @firstName</h3>
</div>