@{
	Layout = "~/Views/Shared/_LayoutWithoutFooter.cshtml";
}

<body class="signup-body">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h2>You have Registered successfully</h2>

					<div class="form-group">
						<a class="btn float-right login_btn" asp-controller="Login" asp-action="LogIn"
						   style="background-color: #00B98E;">Login</a>

					</div>
			
			</div>
		</div>
	</div>
</body>

